@model UserSignup.Models.User
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="small-12">
            <a asp-controller="User" asp-action="Add">Add User</a>
        </div>
    </div>
</div>